# 年际分析图
- 横轴选择时间（每日两个观测点世界时00时和12时）
- 纵轴选择标准等压面（包括1000、850、700、500、400、300、250、200、150、100、70、50、30、20、10hpa层，共计15层）
- question 怀俄明数据只有标准气压层对应的高度和温度数据，无其他气象数据

In [1]:
import pandas as pd

In [2]:
filepath = r'I:\Data\Personal Data\graduation project\yuzhongzhan\52983-1989-2021.csv'
data = pd.read_csv(filepath)
data.head(10)

,Year,Month,Day,Time,100,200,300,500,700,1000,1500,2000,2500,3000,4000,5000,7000,8500,10000
0,1989,JAN,1,0,0,-477,-507,-583,-621,-637,-551,-541,-541,-481,-339,-270,-137,0,0
1,1989,JAN,1,12,0,0,-479,-523,-625,-611,-571,-559,-543,-465,-335,-197,10,0,0
2,1989,JAN,2,0,0,0,0,0,0,0,0,0,-569,-481,-327,-201,-133,0,0
3,1989,JAN,2,12,0,0,-503,-547,-629,-615,-541,-591,-541,-469,-307,-175,16,0,0
4,1989,JAN,3,0,0,0,-523,-585,-617,-601,-559,-575,-595,-495,-317,-179,-115,0,0
5,1989,JAN,3,12,0,-475,-521,-563,-593,-587,-559,-559,-595,-485,-315,-185,-19,0,0
6,1989,JAN,4,0,0,-469,-529,-597,-629,-597,-563,-565,-569,-525,-353,-217,-119,0,0
7,1989,JAN,4,12,0,-497,-525,-583,-593,-571,-551,-555,-555,-493,-335,-195,-15,0,0
8,1989,JAN,5,0,0,-521,-569,-589,-597,-591,-543,-527,-511,-465,-353,-219,-85,0,0
9,1989,JAN,5,12,0,-515,-567,-581,-643,-619,-521,-473,-515,-481,-331,-215,-29,0,0

In [25]:
data.iloc[12806,6]

-537

In [26]:
bool(data.iloc[12806,6])

True

In [32]:
data.astype(bool).sum(axis=0) #astype将数据转换成bool型，然后按列(axis=0)相加

Year     22232
Month    22232
Day      22232
Time     11098
100       4098
200      16123
300      18506
500      19930
700      20508
1000     21229
1500     21718
2000     21885
2500     22013
3000     22071
4000     22101
5000     22143
7000     21994
8500         5
10000       12
dtype: int64

In [30]:
help(data.astype)

Help on method astype in module pandas.core.generic:

astype(dtype, copy: 'bool_t' = True, errors: 'str' = 'raise') -> 'FrameOrSeries' method of pandas.core.frame.DataFrame instance
    Cast a pandas object to a specified dtype ``dtype``.

    Parameters
    ----------
    dtype : data type, or dict of column name -> data type
        Use a numpy.dtype or Python type to cast entire pandas object to
        the same type. Alternatively, use {col: dtype, ...}, where col is a
        column label and dtype is a numpy.dtype or Python type to cast one
        or more of the DataFrame's columns to column-specific types.
    copy : bool, default True
        Return a copy when ``copy=True`` (be very careful setting
        ``copy=False`` as changes to values then may propagate to other
        pandas objects).
    errors : {'raise', 'ignore'}, default 'raise'
        Control raising of exceptions on invalid data for provided dtype.

        - ``raise`` : allow exceptions to be raised
        - ``ignore`` : suppress exceptions. On error return original object.

    Returns
    -------
    casted : same type as caller

    See Also
    --------
    to_datetime : Convert argument to datetime.
    to_timedelta : Convert argument to timedelta.
    to_numeric : Convert argument to a numeric type.
    numpy.ndarray.astype : Cast a numpy array to a specified type.

    Examples
    --------
    Create a DataFrame:

    >>> d = {'col1': [1, 2], 'col2': [3, 4]}
    >>> df = pd.DataFrame(data=d)
    >>> df.dtypes
    col1    int64
    col2    int64
    dtype: object

    Cast all columns to int32:

    >>> df.astype('int32').dtypes
    col1    int32
    col2    int32
    dtype: object

    Cast col1 to int32 using a dictionary:

    >>> df.astype({'col1': 'int32'}).dtypes
    col1    int32
    col2    int64
    dtype: object

    Create a series:

    >>> ser = pd.Series([1, 2], dtype='int32')
    >>> ser
    0    1
    1    2
    dtype: int32
    >>> ser.astype('int64')
    0    1
    1    2
    dtype: int64

    Convert to categorical type:

    >>> ser.astype('category')
    0    1
    1    2
    dtype: category
    Categories (2, int64): [1, 2]

    Convert to ordered categorical type with custom ordering:

    >>> cat_dtype = pd.api.types.CategoricalDtype(
    ...     categories=[2, 1], ordered=True)
    >>> ser.astype(cat_dtype)
    0    1
    1    2
    dtype: category
    Categories (2, int64): [2 < 1]

    Note that using ``copy=False`` and changing data on a new
    pandas object may propagate changes:

    >>> s1 = pd.Series([1, 2])
    >>> s2 = s1.astype('int64', copy=False)
    >>> s2[0] = 10
    >>> s1  # note that s1[0] has changed too
    0    10
    1     2
    dtype: int64

    Create a series of dates:

    >>> ser_date = pd.Series(pd.date_range('20200101', periods=3))
    >>> ser_date
    0   2020-01-01
    1   2020-01-02
    2   2020-01-03
    dtype: datetime64[ns]

    Datetimes are localized to UTC first before
    converting to the specified timezone:

    >>> ser_date.astype('datetime64[ns, US/Eastern]')
    0   2019-12-31 19:00:00-05:00
    1   2020-01-01 19:00:00-05:00
    2   2020-01-02 19:00:00-05:00
    dtype: datetime64[ns, US/Eastern]