In [1]:
import pandas as pd
from tqdm import tqdm

### extacat_Wyoming_data.ipynb
- 怀俄明数据存放在.FSL文件中，不便于读取
- 将.FSL文件中数据提取出来，写入一个.CSV文件
- .CSV文件每一个时间占据一行，columns分别为观测时间'Time'，和标准气压层的温度

In [2]:
fileptah = r'I:\Data\Personal Data\graduation project\yuzhongzhan\52983-1989-2021.FSL' 
data = pd.read_table(fileptah,sep='\s+',names=['0','1','2','3','4','5','6'])
data.head(10)

     0      1      2      3      4        5        6
0  254      0      1    JAN   1989      NaN      NaN
1    1  52983  52983    34N   109E      0.0   2303.0
2    2    500    500    500     22  99999.0      3.0
3    3   HAKJ  99999     ms    NaN      NaN      NaN
4    9  10000  -2691  99999  99999  99999.0  99999.0
5    4   8500  -1461  99999  99999  99999.0  99999.0
6    4   7160      0   -145   -170      0.0      0.0
7    4   7000    172   -137   -164    340.0     10.0
8    4   5000   2740   -270   -330    270.0    154.0
9    4   4000   4350   -339   -409    275.0    195.0

In [3]:
standrad_hpa = ['Year','Month','Day','Time',100,200,300,500,700,1000,1500,2000,2500,3000,4000,5000,7000,8500,10000]
year_data = pd.DataFrame(columns=standrad_hpa)

In [4]:
template = {'Year':0,'Month':0,'Day':0,'Time':0,100:0,200:0,300:0,500:0,700:0,1000:0,1500:0,2000:0,2500:0,3000:0,4000:0,5000:0,7000:0,8500:0,10000:0}
row = 0
for row in tqdm(range(30)):
    if(data.iloc[row,0]==254):
        year_data = year_data.append([template],ignore_index=True) # 上传上一轮的修改结果
        template = {'Year':0,'Month':0,'Day':0,'Time':0,100:0,200:0,300:0,500:0,700:0,1000:0,1500:0,2000:0,2500:0,3000:0,4000:0,5000:0,7000:0,8500:0,10000:0}
        template['Year'] = data.iloc[row,4]
        template['Month'] = data.iloc[row,3]
        template['Day'] = data.iloc[row,2]
        template['Time'] = data.iloc[row,1]
    if((data.iloc[row,0]==4)and(int(data.iloc[row,1])in standrad_hpa)):
        if(data.iloc[row,3] != '99999'):
            # 过滤缺失数据'99999'
            template[int(data.iloc[row,1])] = int(data.iloc[row,3])
    if((data.iloc[row,0]==9)and(int(data.iloc[row,1])in standrad_hpa)):
        if(data.iloc[row,3] != '99999'):
            # 过滤缺失数据'99999'
            template[int(data.iloc[row,1])] = int(data.iloc[row,3])

100%|██████████| 30/30 [00:00<00:00, 555.76it/s]

In [5]:
# year_data.drop(0,axis=0,inplace=True)
# year_data.to_csv(r'I:\Data\Personal Data\graduation project\yuzhongzhan\52983-1989-2021.csv',index=0)